.sidebar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    top: 55px;
    width: 72px;
    z-index: 200;
    background-color: white;
    padding-top: 5px;
}

.sidebar-links{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar-links img {
    height: 24px;
    margin-bottom: 5px;
}

.sidebar-links div {
    font-size: 10px;
    font-family: "Roboto", Arial;
    font-weight: 300;
}

.sidebar-links:hover {
    background-color: rgb(228, 228, 228);
    cursor: pointer;
}