.thumbnail {
	width: 100%;
}

.grid-view {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 20px;
	row-gap: 30px;
}

@media(max-width: 750px){
	.grid-view{
		grid-template-columns: 1fr 1fr;
	}
}

@media(min-width: 751px) and (max-width: 999px){
	.grid-view{
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media(min-width: 1000px){
	.grid-view{
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

.video-title {
	width: 100%;
	font-weight: 500;
	font-size: 14px;
	margin: 0px 0px 10px 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.stats,
.author {
	color: #858484;
	margin-bottom: 5px;
	font-size: 12px;
}

.thumbnail-holder {
	margin-bottom: 8px;
	position: relative;
}

.video-grid-info {
	display: grid;
	grid-template-columns: 50px 1fr;
}


.video-info {
	display: inline-block;
}
.channel-picture {
	width: 36px;
	border-radius: 25px;	
}

.video-time {
	font-family: 'Roboto', Arial;
	font-size: 12px;
	font-weight: 500;
	padding: 4px 4px 4px 4px;
	border-radius: 2px;
	background-color: black;
	color: white;
	position: absolute;
	bottom: 8px;
	right: 5px;
}

.video-link {
	text-decoration: none;
	color: black;
}

.author-link{
	text-decoration: none;
	color: #858484;
}